/**
 * SetMore Plus admin stylesheet
 */

button.demo {
	font-size: 0.9em;
}

.wrap.setmore h2 {
	margin-bottom: 0.5em;
}

.wrap.setmore p,
.wrap.setmore code,
.wrap.setmore li {
	font-size: 14px;
}

.wrap.setmore blockquote {
	font-size: 14px;
	color: #0000CC;
	font-family: Consolas, monospace;
	margin-left: 0;
}

.settings-page {
	margin-top: 2em;
}
