/**
 * SetMore Plus admin stylesheet
 */

button.demo {
	font-size: 0.9em;
}

.wrap.setmore h2 {
	margin-bottom: 0.5em;
}

.wrap.setmore p,
.wrap.setmore code,
.wrap.setmore li {
	font-size: 14px;
}

.wrap.setmore td p {
	margin: 1em 0.3em;
}

.wrap.setmore td p:not(.help):last-child {
	margin-bottom: 0;
}

.wrap.setmore em.hilite {
	background: #99FF99;
	font-style: normal;
	padding: 0 2px 1px 1px;
	display: inline-block;
	line-height: 1;
}

.wrap.setmore blockquote {
	font-size: 14px;
	color: #0000CC;
	font-family: Consolas, monospace;
	margin-left: 0;
}

.settings-page {
	margin-top: 2em;
}

input.four-digits {
	width: 4em;
}
